<div class="container__big-card">

    <div class="big-card__photo">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyQ0QdiTnGxTZsg80c1y24amxSHv2LKPHtuA&usqp=CAU"
        alt=""
        height="200px"
      
        >
    </div>



    <div class="big-card__title">
        <a href="#" ><h1>Saiu a nova versão do Angular</h1></a>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et lacus ac nunc ultrices venenatis.
                Fusce aliquet id diam quis tempor. Nulla mollis ac nisl et feugiat.

            </a>
       
           
           </p>
    </div>

</div>
