.container__small-card{
/*     border: 1px solid white; */
    width: 700px;
    margin-bottom: 15px;
   
}
.container__small-card-content{
    display: flex;
    flex-direction: row;
   
    align-items: center;

}

.small-card__photo img{
    width: 200px;
    min-width: 200px;
    object-fit: contain;
    margin-right: 20px;

}
.small-card__title{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.container__small-card-separator{
    margin-top: 20px;
}
